
@{
    ViewBag.Title = "Beers";
}
<h2>@ViewBag.Title</h2>
<table>
    @for (var i = 0; i <ViewBag.Count/5; i++)
    {
        <tr>
            @for (var j = 0; j<5 && j+ i*5 < ViewBag.Count; j++)
            {
                <td>
                    @{
                        var beer = ViewBag.Beers[i*5 + j];
                        @beer.Name

                        <br/>
                        <img src="@beer.ImageUrl" alt="@beer.Name"/>
                    }
                </td>
            }
            
        </tr>
        
    }
</table>


